* {
	/* `otf-font-awesome` is required to be installed for icons */
	font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	font-size: 13px;
}

window#waybar {
	background-color: rgba(43, 48, 59, 0.5);
	color: #ffffff;
	transition-property: background-color;
	transition-duration: .5s;
}
#workspaces {
	background-color: #333333;
}
#workspaces button.active {
	background-color: #535454;
	color: #ecd3a0;
	/*
	padding-left: 3px;
	padding-right: 3px;
	 */
	font-family: Iosevka Nerd Font;
	font-weight: bold;
	font-size: 12px;
	/*
	margin-left: 3px;
	margin-right: 3px;
	 */
	transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}
#bluetooth.connected { 
	color: #5291f7;
}
#battery.critical { 
	color: #ff6e5e;
}
#battery.warning { 
	color: #ffae5e;
}
